---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
import LanguagePicker from '../components/LanguagePicker.astro';
const user = Astro.locals.user;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

---

<div class="Header">

	<ul class="MainNavigation">
		<li>
			<a href={translatePath('/')}>
				{t('nav.home')}
			</a>
			<a href={translatePath('/lists/')}>
				{t('nav.lists')}
			</a>
		</li>
		<li>
			Hola,  {user.username}
		</li>
		<li>
			<li>
				<form method="POST" action="/api/signout">
					<button class="btn">Sign out</button>
				  </form>
			</li>
	</ul>

	<LanguagePicker />

</div>