---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
import LanguagePicker from '../components/LanguagePicker.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

---

<div class="Header">

	<ul class="MainNavigation">
		<li>
			<a href={translatePath('/')}>
				{t('nav.home')}
			</a>
			<a href={translatePath('/lists/')}>
				{t('nav.lists')}
			</a>
		</li>
	</ul>

	<LanguagePicker />

</div>